---
tags: [ google, verification ]
title: Verification for Google Play Accounts
---

Google has had to handle with a lot of bad behaviour in the Google Play Store and has come up with a comprehensive verification process.

Individuals (including the primary contact for an organization) need to submit photos of a government-issued ID: passport, driver's license, etc.

Organization need have a DUNS number and then submit proof of the exact name: tax forms, government-issued legal documents or a credit report from one of the major credit bureaus.

These are all in addition to the normal email, phone and website verifications.


Links:

- [Required information to create a Play Console developer account](https://support.google.com/googleplay/android-developer/answer/13628312)
- [Verify your developer identity information](https://support.google.com/googleplay/android-developer/answer/10841920)
- [Verify your website](https://support.google.com/googleplay/android-developer/answer/13205715) - uses the Google Search Console
