---
tags: [ linkedin, verification ]
title: Verification for LinkedIn Accounts
---

LinkedIn also has [verification](https://www.linkedin.com/help/linkedin/answer/a1359065/).

For identities, they use [CLEAR](https://www.clearme.com/clear-verified), [Persona](https://withpersona.com/) and [DigiLocker](https://www.digilocker.gov.in/).

In addition to identity verification, they also have it for specific things that are on your profile:

- workplace (via email domain, or if your company uses a Microsoft or LinkedIn service)
- educational institution (via email domain)

They do not have verification for your website.
